@import "@picocss/pico/scss/pico";

a.cardArticle {
    &:hover {
        text-decoration: none;        
    }
    h3{

        overflow: hidden;
        text-overflow: ellipsis;
        height: 80px;
        margin-bottom: 10px;
    }
}

nav{

    text-align: center;
    svg{
        width: 30px;
        height: 30px;
    }

}



//Media query for large screens (≥992px)
@media (min-width: 992px) {
    a.cardArticle {

        &:hover{
            transform: scale(1.05);
        }
        article{
            height: 50vh;

            image{
                height: 20vh;
            }
        }
    }
}