@import "@picocss/pico/scss/pico";

body{

    main{
        position:relative;
        z-index:2;

        nav{
            margin-top: 30px;
        
            #reseauxSociaux{
                border-radius: 20px 20px 20px 20px;
                display: inline-flex;
                justify-content: space-around;
                height: 40px;
                width: 150px;
                margin-top : 10px;
        
                a{
                    height: 40px;
                    
                    svg{
                        margin-top: 5px;
                        width: 30px;
                        height: 30px;
                    }
                }
                
            }
        
        
        
        }
        


        a.cardArticle {

            &:hover {
                text-decoration: none;        
            }

            article{
                border-radius: 50px;

                h3{
        
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 100px;
                    margin-bottom: 10px;
                }

            }



        }


        

    }
    
    footer{
        text-align: center;
    }

}










//Media query for large screens (≥992px)
@media (min-width: 992px) {

    a.cardArticle {

        &:hover{
            transform: scale(1.05);
        }
        article{
            height: 60vh;

            image{
                height: 20vh;
            }
        }
    }
}
