@import "@picocss/pico/scss/pico";

body{
    position: relative;
}

div#wave{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    z-index: 1;
    // background-color:aqua
}

main{
    position:relative;
    z-index:2;
}

a.cardArticle {
    &:hover {
        text-decoration: none;        
    }
    h3{

        overflow: hidden;
        text-overflow: ellipsis;
        height: 100px;
        margin-bottom: 10px;
    }
}

nav{
    margin-top: 30px;
    #reseauxSociaux{
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        display: inline-flex;
        justify-content: space-around;
        height: 40px;
        width: 150px;

        a{
            height: 40px;
            svg{
                width: 30px;
                height: 30px;
            }
        }
        
    }



}

footer{
    text-align: center;
}



//Media query for large screens (≥992px)
@media (min-width: 992px) {

    a.cardArticle {

        &:hover{
            transform: scale(1.05);
        }
        article{
            height: 60vh;

            image{
                height: 20vh;
            }
        }
    }
}

@media (min-width : 1200px){
    nav{
        h1, h2{
            color:white;
        }
    }
}